body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: aquamarine;
  }

  h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 80px;
    width: 75%;
  }

  .button {
    width: 100%;
    padding: 50px 10px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 1.5;
    font-size: larger;
  }

  .button-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-top: 75px;
  }

  .button:hover{
    background-color: #df2e17;
  }

  .elmo-container{
    margin-top: 80px;
    padding-bottom: 80px;
    width: 60%;
  }

  img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  img.hide{
    display: none;
  }

  @media (max-width: 768px){
    h1{
      width: 75%;
      text-align: center;
      font-size: 2rem;
      margin-top: 80px;
    }

    .button-container{
      width: 75%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      margin-top: 0px;
    }
    
    .elmo-container{
      margin-top: 40px;
      padding-bottom: 80px;
      width: 75%;
    }

  }

  @media (min-width: 1600px){
    .button-container{
      width: 60%
    }
  }